@charset "utf-8";
// @import "_swiper.min";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');

// @font-face {
// 	font-family:'NotoSansKr'; font-style:normal; font-weight:300;
// 	src: url('../font/NotoSans-Light.eot') format('eot');
// 	src: local('※'), url('../font/NotoSans-Light.eot?#iefix') format('embedded-opentype');
// 	src: url('../font/NotoSans-Light.woff2') format('woff2'),
// 			 url('../font/NotoSans-Light.woff') format('woff');
// }
// @font-face {
// 	font-family:'NotoSansKr'; font-style:normal; font-weight:400;
// 	src: url('../font/NotoSans-Regular.eot') format('eot');
// 	src: local('※'), url('../font/NotoSans-Regular.eot?#iefix') format('embedded-opentype');
// 	src: url('../font/NotoSans-Regular.woff2') format('woff2'),
// 			 url('../font/NotoSans-Regular.woff') format('woff');
// }
// @font-face {
// 	font-family:'NotoSansKr'; font-style:normal; font-weight:700;
// 	src: url('../font/NotoSans-Bol.deot') format('eot');
// 	src: local('※'), url('../font/NotoSans-Bold.eot?#iefix') format('embedded-opentype');
// 	src: url('../font/NotoSans-Bold.woff2') format('woff2'),
// 			 url('../font/NotoSans-Bold.woff') format('woff');
// }
// @font-face {
// 	font-family:'NotoSansKr'; font-style:normal; font-weight:900;
// 	src: url('../font/NotoSans-Black.deot') format('eot');
// 	src: local('※'), url('../font/NotoSans-Black.eot?#iefix') format('embedded-opentype');
// 	src: url('../font/NotoSans-Black.woff2') format('woff2'),
// 			 url('../font/NotoSans-Black.woff') format('woff');
// }

// @media all and (min-width:360px) {
// 	html {
// 		font-size: 16px;
// 	}
// }
// @media all and (max-width:359px) {
// 	html {
// 		font-size: 14px;
// 	}
// }
// body, html {
// 	margin:0;padding:0;font-size:16px;
// 	font-family: 'NotoSansKr', 'Helvetica', 'Malgun Gothic', sans-serif;
// }
// a {
// 	text-decoration: none;
// 	border:0;
// 	outline: none;
// 	color:#222;
// 	&:hover, &:focus {
// 		color:#222;
// 	}
// }
// ul, ol {
// 	list-style-image: none;
// 	list-style: none;
// 	padding: 0;
// 	margin: 0;
// }
// li {list-style: none;}
// dl, dt, dd, p, span, strong {padding:0;margin:0;}

.praleyecare_202102 * {
	margin:0;padding:0;
	box-sizing: border-box;
	word-break: keep-all;
	font-family: 'Noto Sans KR', 'Helvetica', 'Malgun Gothic', sans-serif;
	font-weight: 400;
	letter-spacing: -.3px;
}
.praleyecare_202102 {
	margin:0;padding:0;
	overflow: hidden;

	@import "_animate";
	div, img {
		max-width:100%;
	}
	video {
		-webkit-mask-image: -webkit-radial-gradient(white, black);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
	}
	.row {
		width:100%;
		padding-left:25px;
		padding-right:25px;
	}
	.swp_paging {
		position: relative;
		width:100%;
		height:50px;
		text-align: center;
		.swiper-pagination {
			width:100%;
		}
		.swiper-pagination-bullet {
			position:relative;
			left:inherit;
			bottom: inherit;
			top:inherit;
			width:10px;
			height:10px;
			margin:0 6px;
			border-radius: 100%;
			background:#dddddd !important;
			opacity: 1;
		}
		.swiper-pagination-bullet-active {
			background:#ff1760 !important;
		}
	}
	.a11y {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}
}

.titlechart {
	position: fixed;	
	top:0;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: rgba(0,0,0,0.8);
	z-index: 99;
	overflow: hidden;
	.tab {
		display: inline-block;
		width: 100%;
		height: 100%;
		.top {
			display: inline-block;
			width: 100%;
			height: 40px;
			padding: 11px 20px 4px;
			border-bottom: 1px solid #666;
			.logo {
				display: inline-block;
				height: 20px;
				color: #fff;
				vertical-align: top;
				b {
					display: inline;
					font-weight: 700;
				}
			}
			.model {
				display: inline-block;
				margin-top:3px;
				margin-left: 10px;
				font-size: 12px;
				color: #fff;
			}
		}
		> ul {
			position: relative;
			display: inline-block;
			width: 100%;
			z-index: 1;
			margin:0;
			> li {
				float:left;
				width:calc(100% / 5);
			}
			span {
				display: block;
				padding: 7px 5px 6px;
				font-size: 11px;
				color: #fff;
				border-bottom: 2px solid transparent;
				text-align: center;
				-webkit-transition: 0.5s ease-in-out;
				-moz-transition: 0.5s ease-in-out;
				-o-transition: 0.5s ease-in-out;
				transition: 0.5s ease-in-out;
			}
			.active {
				span {
					border-bottom-color:#990033;
				}
			}
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0px;
			display: block;
			width: 100%;
			height: 1px;
			background: #666;
		}
	}
}


.praleyecare_202102 {
	.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
	}
	.swiper-wrapper {
		position:relative;
		width:100%;
		height:100%;
		z-index:1;
		display:flex;
		transition-property: transform;
		box-sizing: content-box;
	}
	.swiper-container-android .swiper-slide, 
	.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
	}
	.swiper-slide {
		display: block;
		-ms-flex-negative: 0;
    flex-shrink: 0;
		flex-shrink:0;
		width:100%;height:100%;
		position:relative;
		transition-property:transform;
		text-align: initial;
	}
	.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
	}

	.sec_title {
		padding-top:68px;
		padding-bottom:35px;
		h2 {
			font-size: 32px;
			font-weight: 700;
		}
	}
	.section {
		width:100%;
		.title {
			margin-bottom:7px;
			color:#222;
			letter-spacing: -.7px;
			> p {
				font-size: 32px;
				font-weight: 700;
				letter-spacing: -.7px;
				line-height: 1.35;
				color:inherit;
			}
			span {
				display: block;
				margin-bottom:6px;
				font-size:23px;
				color:#888888;
			}
		}
		.summary {
			margin-bottom:28px;
			font-size:16px;
			line-height: 1.45;
			color:#888888;
			dt {
				font-size:27px;
				font-weight: 900;
			}
			dd {
				line-height: inherit;
			}
		}
		.desc {
			padding:30px;
			font-size:10px;
			font-weight: 300;
			color:#666;
			background-color: #fff;
			p {
				position:relative;
				display: block;
				padding-left:8px;
				line-height: 1.7; 
				letter-spacing: -.1px; 
				font-weight: 300; 
				font-size: inherit;
				color:inherit;
				&:before {
					content: '*';
					position:absolute;
					left:0;
					top:1px;
					font-size: inherit;
					font-weight: 300;
					color: inherit;
				}
			}
		}
		video { outline: none; border: 0; background-color: transparent; }
	}

	@media only screen and (min-device-width: 767px) {
		.section {
			.title {
				> p {
					font-size:48px;
				}
			}
		}
	} //@media only screen and (min-device-width: 767px)
	@media only screen and (min-device-width: 1025px) {
		.section {
			.title {
				> p {
					font-size:72px;
					line-height:1.2;
				}
			}
		}
	} //@media only screen and (min-device-width: 1025px)

	.sec_intro {
		width: 100%;
		height: calc(100vh - 50px);
		padding-bottom:35%;
		background: {
			color:#f8f9fa;
			image: url(../images/usp_0101.jpg);
			position: left bottom;
			repeat: no-repeat;
			size:contain;
		}
		.title {
			margin-bottom:10%;
			span {
				display: inline;
				font-size:inherit;
				font-weight: inherit;
				color:#d74367;
			}
		}
		.row {
			padding-top:50px;
		}
		.summary {
			margin-left:53%;
			color:#222;
			dt {
				span {
					font-size:inherit;
					font-weight: inherit;
					vertical-align: middle;
				}
				a {display: none;}
			}
		}
		.ic {
			display: inline-block;
			width:13px;
			height:13px;
			background: {
				image: url(../images/usp_0101_ico.png);
				position: right bottom;
				repeat: no-repeat;
				size:13px;
			}
		}
	}
	@media only screen and (min-device-width: 767px) {
		.sec_intro {
			max-height: 740px;
			height:auto;
			padding-bottom: 46.25%;
			background: {
				color:#f8f9fa;
				image: url(../images/usp_0101_pc.jpg);
				size:cover;
			}
			.row {
				position:absolute;
				right:0;
				top:50%;
				-moz-transform: translate(0, -50%);
				-ms-transform: translate(0, -50%);
				-o-transform: translate(0, -50%);
				transform: translate(0, -50%);
				width: 55%;
				padding:0;
			}
			.summary {
				float:left;
				position:relative;
				min-width:150px;
				margin-left:0;
				margin-right:30px;
				&:last-child {margin-right:0;}
				dt {
					padding-top:50px;
					font-size:36px;
					span {
						font-size:24px;
					}
					a {
						display: inline-block;
					}
				}
				dd {
					position:absolute;
					left:0;top:0;
					font-size:18px;
					.ic {display: none;}
				}
			}
			.ic { 
				width:21px;
				height:21px;
				background: {
					size:21px;
					image: url(../images/usp_0101_ico_pc.png);
				}
			}
		}
	} //@media only screen and (min-device-width: 767px) 
	@media only screen and (min-device-width: 1025px) {
		.sec_intro {
			.summary {
				min-width:220px;
				dt {
					padding-top:50px;
					font-size:54px;
					span {
						font-size:36px;
					}
				}
				dd {
					font-size:28px;
				}
			}
		}
	} //@media only screen and (min-device-width: 1024px) 

	.sec_zoom {
		position:relative;
		top:0;
		width: 100%;
		overflow: hidden;
		-webkit-transition: 0.6s ease-in-out;
		-moz-transition: 0.6s ease-in-out;
		-o-transition: 0.6s ease-in-out;
		transition: 0.6s ease-in-out;
		.inner {
			position:relative;
			width:100%;
			height:100%;
		}
		.row {
			position: relative;
			left:0;
			top:0;
			-webkit-transition: 0.6s ease-in-out;
			-moz-transition: 0.6s ease-in-out;
			-o-transition: 0.6s ease-in-out;
			transition: 0.6s ease-in-out;
		}
		.figure {
			position: absolute;
			top:0;
			left:0;
			right:0;
			width:100%;
			height:100vh;
			background: {
				image: url('../images/zoom_bg.jpg');
				size:cover;
				position:center bottom;
				repeat: no-repeat;
			}
			-webkit-transition: .7s ease;
			-moz-transition: .7s ease;
			-o-transition: .7s ease;
			-ms-transition: .7s ease;
			transition: .7s ease;
			img {
				visibility: hidden;
				position: absolute;
				left:0;
				width:100%;
				-o-object-fit: cover;
				object-fit: cover;
				-webkit-transition: .7s ease;
				-moz-transition: .7s ease;
				-o-transition: .7s ease;
				-ms-transition: .7s ease;
				transition: .7s ease;
			}
			&.fixed {
				position:fixed;
				background: {
					image: url('../images/zoom_bg-big.jpg');
					size:cover;
					position:center bottom;
					repeat: no-repeat;
				}
			}
		}
		.summary {
			color:#222;
		}
		.cover {
			opacity: 0;
			position:absolute;
			left:0;
			top:0;
			right:0;
			width:100%;
			height:100%;
			background-color:rgba(255,255,255, .95);
			z-index: 1;
			-webkit-transition: 0.4s linear;
			-moz-transition: 0.4s linear;
			-o-transition: 0.4s linear;
			transition: 0.4s linear;
			.info {
				position: absolute;
				left:50%;
				top:50%;
				width:100%;
				text-align: center;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				margin: 0;
				strong {
					font-size:28px;
					font-weight: 700;
				}
				p {
					margin-top:10px;
					font-size:16px;
					line-height: 1.5;
					letter-spacing: -0.5px;
				}
			}
			&._show {
				opacity: 1;
			}
		}
		.info { 
			margin-top: 70px; margin-bottom: 30px; 
			.t1 { color: #888888; font-size: 23px; }
			strong { display: block; margin-top: 9px; color: #222222; font-size: 32px; font-weight: 700; }
			.t2 { margin-top: 9px; color: #222222; font-size: 16px; }
		}
	}
	.sec_zoom2 {
		position:relative;
		height:60vw;
		overflow: hidden;
		&.fixed {
			position:fixed;
		}
		.cover {
			position:relative;
			width:100%;
			height:100%;
			background-color:rgba(255,255,255, .95);
			z-index: 1;
			-webkit-transition: 0.6s linear;
			-moz-transition: 0.6s linear;
			-o-transition: 0.6s linear;
			transition: 0.6s linear;
			.info {
				position: absolute;
				left:50%;
				top:50%;
				width:calc(100% - 50px);
				max-width:290px;
				padding:32px 20px 30px;
				text-align: center;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				border-radius: 20px;
				border:1px solid #ececec;
				box-shadow: 1px 0px 13px 2px rgba(0,0,0,0.1);
				-webkit-box-shadow: 1px 0px 13px 2px rgba(0,0,0,0.1);
				-moz-box-shadow: 1px 0px 13px 2px rgba(0,0,0,0.1);
				strong {
					position:relative;
					font-size:25px;
					font-weight: 700;
					color:#222;
					&:before {
						content: '';
						position:absolute;
						left:-17px;
						top:-7px;
						width:20px;
						height:17px;
						background: {
							image: url(../images/usp_0201_ico.png);
							size:cover;
							position:0 0;
							repeat: no-repeat;
						}
						z-index: -1;
					}
					&:after {
						content: '';
						position:absolute;
						right:-13px;
						top:-7px;
						width:20px;
						height:17px;
						background: {
							image: url(../images/usp_0202_ico.png);
							size:cover;
							position:0 0;
							repeat: no-repeat;
						}
						z-index: -1;
					}
				}
				p {
					margin-top:10px;
					font-size:12px;
					line-height: 1.5;
					color:#222;
				}
			}
			&.show {
				position:fixed;
				opacity: 1;
			}
			&.back {
				opacity: 1;
				background-color:rgba(255,255,255, 1);
			}
		}
	}
	
	@media only screen and (min-device-width: 767px) {
		.sec_zoom {
			.info {
				text-align: center;
			}
			.video {
				position:relative;
				width:100%;
				padding-bottom:55%;
				overflow: hidden;
				video {
					position:absolute;
					left:50%;
					top:50%;
					width:100%;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					-o-object-fit: cover;
					object-fit: cover;
				}
			}
		}
		.sec_zoom2 {
			height:380px;
			overflow: initial;
			.cover {
				.info {
					top:-30px;
					-webkit-transform: translate(-50%, 0);
    			transform: translate(-50%, 0);
					width:calc(100% - 240px);
					max-width:1340px;
					padding:80px 0;
					background-color:#fff;
					strong {
						display: block;
						max-width:300px;
						margin:0 auto;
						font-size:26px;
					}
					p {
						position:relative;
						max-width:400px;
						margin:15px auto 0;
						padding-bottom:20px;
						font-size:17px;
					}
				}
			}
		}
	} //@media only screen and (min-device-width: 767px)
	@media only screen and (min-device-width: 1025px) {
		.sec_zoom2 {
			.cover {
				.info {
					strong {
						max-width:960px;
						font-size:40px;
						&:before {
							width:59px;
							height:49px;
							background: {
								image: url(../images/usp_0201_ico_pc.png);
								size:59px;
							}
						}
						&:after {
							display: none;
						}
					}
					p {
						max-width:990px;
						font-size:26px;
						&:after {
							content: '';
							position:absolute;
							right:0;
							bottom:0;
							display: block;
							width:59px;
							height:49px;
							background: {
								image: url(../images/usp_0202_ico_pc.png);
								size:59px;
							}
						}
					}
				}
			}
		}
	}

	
	.sec_skill {
		position:relative;
		background-color: #fff;
		z-index: 1;
		.title {
			position:relative;
			min-height: 120px;
			margin-bottom: 30px;
			p {
				position:absolute;
				bottom:0;
				left:0;
				span {
					display: block;
					margin-bottom:6px;
					font-size:23px;
					color:#888888;
				}
			}
		}
		.swiper-slide {
			padding-right:25px;
			padding-left:25px;
			&.slide02 {
				.info {
					margin-bottom:60px;
				}
			}
			&.slide04 {
				margin-bottom:-60px;
			}
			a {
				display: inline-block;
				width:100%;
				height:100%;
			}
			.info {
				max-width:calc(100% - 10px);
				margin:60px auto 0;
				text-align: center;
			}
			.ti {
				font-size:20px;
				line-height: 1.4;
			}
			.sti {
				margin-top:10px;
				font-size:16px;
				line-height: 1.4;
			}
			.desc {
				margin-top:15px;
				padding:0;
				letter-spacing: -.7px;
				span {
					display: block;
					margin-bottom:3px;
					line-height: 1.5;
					letter-spacing: -.7px;
					font-weight: 300;
				}
			}
		}
		.video {
			position:relative;
			width:100%;
			margin:0 auto;
			padding-top:85%;
			background-color: transparent;
			video {
				position:absolute;
				left:50%;
				top:50%;
				width:100%;
				-webkit-transform: translate(-50%, -50%); 
				transform: translate(-50%, -50%); 
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
		.swp_paging {
			position:absolute;
			top:calc(100vw + 85px);
			margin:20px auto;
		}
	}
	
	.sec_effect {
		position: relative;
		min-height:60vh;
		padding-bottom:30px;
		background-color: #fff;
		z-index: 1;
		.summary {
			line-height: 1.5;
		}
		.point_bx {
			position: relative;
			width:100%;
			text-align: center;
		}
		.video {
			overflow: hidden;
		}
	}
	.sec_effect2 {
		position:relative;	
		background-color: #fff;
		.effect_bx {
			position:relative;
			width:100%;
			height:100%;
			.bx {
				position:absolute;
				left:0;
				top:0;
				width:100%;
				opacity: 0;
				&.effect01 {
					opacity: 1;
				}
			}
			.top {
				position:relative;
				text-align: center;
			}
			.figure {
				position: relative;
				width:100%;
				padding-bottom:75vh;
				overflow: hidden;
				img {
					position:absolute;
					top:50%;
					left:50%;
					width:100%;
					-webkit-transform: translate(-50%, -50%); 
					transform: translate(-50%, -50%); 
					-o-object-fit: cover;
					object-fit: cover;
				}
			}
			@media all and (min-width:960px) {
				.figure {
					padding-bottom:90vh;
				}
			}
			.info {
				position:absolute;
				bottom:0;
				left:50%;
				-webkit-transform: translate(-50%, -25%); 
				transform: translate(-50%, -25%); 
				width:100%;
				text-align: center;
				> p {
					font-size:16px;
					color:#fff;
				}
				.count {
					color:#fff;
					font-size:3.75rem;
					font-weight: 700;
					> span {
						font-size:inherit;
						font-weight: inherit;
						color:inherit;
					}
				}
			}
			.btn_view {
				display: inline-block;
				position:absolute;
				left:0;
				bottom:0;
				width:100%;
				height:100px;
				background-color: rgba(255,255,255, 0);
			}
	
		}
		.video {
			position:relative;
			width:100%;
			margin:0 auto;
			padding-top:140%;
			overflow: hidden;
			background-color: transparent;
			video {
				position:absolute;
				left:50%;
				top:50%;
				width:100%;
				-webkit-transform: translate(-50%, -50%); 
				transform: translate(-50%, -50%); 
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
	}
	
	.sec_smartcare {
		position: relative;
		padding-top:10px;
		margin-top:-2px;
		z-index: 1;
		background-color: #fff;
		.top {
			padding-top:40px;
			background-color: #f5f5f5;
		}
		.summary {
			margin-bottom:0;
		}
		.video {
			position:relative;
			width:100%;
			margin:0 auto;
			padding-top:calc(100vw + 15px);
			overflow: hidden;
			background-color: transparent;
			video {
				position:absolute;
				left:50%;
				top:50%;
				width:100%;
				-webkit-transform: translate(-50%, -50%); 
				transform: translate(-50%, -50%); 
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
		.desc {
			padding-left:0;
			padding-right:0;
		}
	}
	
	.sec_homecare {
		position:relative;
		padding-top:10px;
		z-index: 1;
		background-color: #fff;
		.title {
			position:relative;
			min-height: 120px;
			p {
				position:absolute;
				bottom:0;
				left:0;
			}
		}
		.swiper-slide {
			padding-right:25px;
			padding-left:25px;
			a {
				display: inline-block;
				width:100%;
				height:100%;
			}
			.info {
				max-width:calc(100% - 10px);
				margin:50px auto;
				text-align: center;
			}
			.ti {
				font-size:20px;
			}
			.sti {
				margin-top:10px;
				font-size:16px;
				line-height: 1.5;
			}
			.desc {
				margin-top:15px;
				padding:0;
				span {
					display: block;
					line-height: 1.5;
				}
			}
		}
		.video {
			position:relative;
			width:100%;
			margin:0 auto;
			padding-top:calc(100vw - 90px);
			overflow: hidden;
			background-color: transparent;
			video {
				position:absolute;
				left:50%;
				top:50%;
				width:100%;
				-webkit-transform: translate(-50%, -50%); 
				transform: translate(-50%, -50%); 
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
		.swp_paging {
			position:absolute;
			top:calc(100vw + 85px);
			margin:20px auto;
		}
	}
	
	.sec_howto {
		position:relative;
		padding-top:10px;
		z-index: 1;
		background-color: #fff;
		.row {
			width:100%;
		}
		.title {
			position:relative;
			min-height: 120px;
			margin-bottom: 35px;
			p {
				position:absolute;
				bottom:0;
				left:0;
			}
		}
		.dim {
			position: absolute;
			left:0;
			top:0;
			right:0;
			width:100%;
			height:100%;
			background-color: rgba(255,255,255, 0);
			z-index: 11;
			&.hide {
				z-index: -1;
			}
		}
		.swiper-slide {
			a {
				display: inline-block;
				width:100%;
				height:100%;
			}
			.info {
				max-width:calc(100% - 45px);
				margin:50px auto;
				text-align: center;
			}
			.sti {
				margin-top:10px;
				font-size:15px;
				line-height: 1.5;
			}
			.desc {
				margin-top:15px;
				padding:0;
				span {
					display: block;
					line-height: 1.5;
					font-weight: 300;
				}
			}
		}
		.video {
			position:relative;
			width:calc(100% - 50px);
			margin:0 auto;
			padding-top:calc(100vw - 150px);
			background-color: transparent;
			video {
				position:absolute;
				left:50%;
				top:50%;
				width:100%;
				-webkit-transform: translate(-50%, -50%); 
				transform: translate(-50%, -50%); 
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
		.swp_paging {
			position:absolute;
			margin:20px auto;
		}
	
		.swipe_area {
			position:relative;
			.howtoswipe {
				&._auto {
					left:0;
					top:0;
					z-index: 10;
					&.hide {
						display: none;
						visibility: hidden;
						height: 0;
						z-index: -1;
					}
				}
				&._swipe {
					position:relative;
					visibility: hidden;
					height: 0;
					&.active {
						visibility: visible;
						height:auto;
					}
				}
			}
		}
	}
	
	.sec_functions {
		position: relative;
		padding-top:20px;
		z-index: 1;
		background-color: #fff;
		.title {
			margin-bottom:25px;
		}
		.bg {
			position:relative;
			padding-top: 145%;
			background: {
				image: url(../images/usp_0801_bg.jpg);
				size:cover;
				position:center bottom;
				repeat: no-repeat;
			}
			overflow: hidden;
			.cont {
				position:absolute;
				top:30px;
				left:25px;
				dl {
					margin-bottom:7px;
					&:after {
						content: '';
						clear:both;
						display: block;
					}
				}
				dt, dd {
					float:left;
					min-height:60px;
				}
				dt {
					width:72px;
				}
				dd {
					position:relative;
					min-width: 200px;
					p {
						position: absolute;
						left:0;
						top:50%;
						-webkit-transform: translate(0, -50%); 
						transform: translate(0, -50%); 
						font-size:15px;
						b {
							display: inline-block;
							font-weight: 700;
						}
						strong {
							display: block;
							margin-top:3px;
							font-weight: 700;
						}
					}
				}
				i {
					display: inline-block;
					width:61px;
					height:61px;
					background: {
						size:cover;
						repeat: no-repeat;
						position:center center;
					}
				}
			}
			.ico01 {
				i {
					background: {
						image: url(../images/usp_0801_ico.png);
					}
				}
			}
			.ico02 {
				i {
					background: {
						image: url(../images/usp_0802_ico.png);
					}
				}
			}
			.ico03 {
				i {
					background: {
						image: url(../images/usp_0803_ico.png);
					}
				}
			}
		}
	}
	
	.sec_stabillity {
		position: relative;
		z-index: 1;
		padding-top:40px;
		background-color: #fff;
		.title {
			margin-bottom:10px;
		}
		.cut {
			position:relative;
			padding-top:45px;
		}
		.mark {
			opacity: 0;
			display: inline-block;
			position:absolute;
			top:0;
			width:91px;
			height:92px;
			background: {
				image: url(../images/usp_0901_cut.png);
				size:cover;
				repeat: no-repeat;
				position:center center;
			}
			z-index: 1;
			-webkit-transition: .9s ease-in-out;
			-moz-transition: .9s ease-in-out;
			-o-transition: .9s ease-in-out;
			transition: .9s ease-in-out;
			&.markOn {
				visibility: visible;
				opacity: 1;
			}
		}
		.future {
			img {
				margin-left:10px;
			}
		}
		.desc {
			padding-left:0;
			padding-right:0;
			.ckbx {
				margin-bottom:12px;
			}
			.chk {
				position: relative;
				margin-bottom:3px;
				padding-left:22px;
				font-weight: 500;
				font-size:15px;
				color:#222;
				line-height:1.5;
				i {
					display: inline-block;
					position:absolute;
					left:0;
					top:2px;
					width:15px;
					height:15px;
					background: {
						image: url(../images/usp_0901_ico.png);
						size:cover;
						repeat: no-repeat;
						position:center center;
					}
				}
			}
		}
	}
	
	.sec_component {
		position: relative;
		z-index: 1;
		padding-top:40px;
		background-color: #fff;
		.title {
			margin-bottom:25px;
		}
		.figure {
			position:relative;
			width:100%;
			margin:0 auto;
			padding-top:61.2%;
			overflow: hidden;
			img {
				position:absolute;
				left:50%;
				top:50%;
				width:100%;
				-webkit-transform: translate(-50%, -50%); 
				transform: translate(-50%, -50%); 
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
		.btn_buy {
			display: inline-block;
			margin-top:20px;
			padding:7px 18px 5px;
			font-size:14px;
			border:1px solid #222;
			border-radius: 25px;
			i {
				display: inline-block;
				margin-left:5px;
				width:5px;
				height:7px;
				background: {
					image: url(../images/usp_1001_ico.png);
					size:cover;
					repeat: no-repeat;
					position:center center;
				}
			}
		}
	}
	
	.sec_tip {
		position: relative;
		z-index: 1;
		padding-top:40px;
		background-color: #fff;
		.btnmovie {
			position: relative;
			width:100%;
			padding-bottom:53.5%;
			overflow: hidden;
			.btn_tip {
				display: block;
				position:absolute;
				left:50%;
				top:50%;
				width:100%;
				height:100%;
				-webkit-transform: translate(-50%, -50%); 
				transform: translate(-50%, -50%); 
				-o-object-fit: cover;
				object-fit: cover;
				background: {
					image: url(../images/usp_1101_tip.jpg);
					size:cover;
					repeat: no-repeat;
					position:center center;
				}
			}
		}
		.video {
			margin-bottom:70px;
		}
		.summary {
			color:#222222;
		}
		.btn_chk {
			display: inline-block;
			padding:7px 18px;
			background-color:#a40033;
			color:#fff;
			font-size:14px;
			border-radius: 25px;
		}
		.photobx {
			margin-top:35px;
			padding:45px 20px;
			border-radius: 20px;
			background-color: #e2e5ea;
			text-align: center;
			> p {
				font-size:22px;
				font-weight: 700;
			}
			> span {
				display: block;
				margin-top:15px;
				font-size:13px;
				line-height: 1.4;
			}
	
			.list {
				margin-top:27px;
				&:after {
					content: '';
					display: block;
					clear:both;
				}
			}
			li {
				float:left;
				width:calc((100% / 2) - 13px);
				margin-right:25px;
				&:nth-child(2n) {
					margin-right:0;
				}
				&:nth-child(2n + 1) {
					clear:left;
				}
				text-align: center;
			}
			.figure {
				position:relative;
				width:100%;
				margin:0 auto;
				padding-top:100.0%;
				overflow: hidden;
				img {
					position:absolute;
					left:50%;
					top:50%;
					width:100%;
					-webkit-transform: translate(-50%, -50%); 
					transform: translate(-50%, -50%); 
					-o-object-fit: cover;
					object-fit: cover;
				}
			}
			&:after {
				content: '';
				display: block;
				clear:both;
			}
			.more {
				padding-top:40px;
				&._off {
					display: none;
				}
				&._on {
					display: block;
				}
			}
		}
		.summary {
			margin-top:20px;
			dt {
				font-size:12px;
			}
			dd {
				font-size:12px;
				color:#888888;
			}
		}
	}
	
	.sec_review {
		position: relative;
		z-index: 1;
		padding-top:70px;
		background-color: #fff;
	}
	/* layer popup */
	.layer_body {
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0, .9);
		&.layer_full {
			top:inherit;
			bottom:0;
			background-color: transparent;
			.layer_wrap {
				width:100%;
				height:100%;
			}
			.layer_cont {
				height:calc(100% - 70px);
			}
			.layer_close {
				top:27px;
				right:32px;
			}
		}
		&.layer_wide {
			.layer_wrap {
				max-width:100%;
				width:100%;
				border-radius: 0;
			}
		}
	}
	.layer_wrap {
		position: absolute;
		z-index: 100;
		top:50%;
		left:50%;
		width:calc(100% - 50px);
		background-color: #fff;
		opacity: 0;
		-webkit-transform: translate(-50%, -50%); 
		transform: translate(-50%, -50%); 
		overflow-y: auto;
		-webkit-transition: visibility 0.2s 0.1s, opacity 0.2;
		-moz-transition: visibility 0.2s 0.1s, opacity 0.2;
		-ms-transition: visibility 0.2s 0.1s, opacity 0.2;
		-o-transition: visibility 0.2s 0.1s, opacity 0.2;
		transition: visibility 0.2s 0.1s, opacity 0.2;
		.btn_wrap {
			margin-bottom:0;
		}
	}
	.layer_close {
		position:absolute;
		top: 0;
		right: 0;
		width:20px;
		height:20px;
		background: {
			color:transparent;
			image: url(../images/usp_0401_close.png);
			size:16px;
			repeat: no-repeat;
			position: center center;
		}
		border: 0;
		text-indent:-9999px;
	}
	.layer_cont{
		position:relative;
		width: 100%;
		padding-bottom:58%;
		overflow: hidden;
		> *:first-child {
			margin-top: 0;
		}
		> *:last-child {
			margin-bottom: 0;
		}
		iframe {
			position:absolute;
			left:50%;
			top:50%;
			width:100%;
			height:100%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
	.layer_body.is-visible {
		visibility: visible;
		.layer_wrap {
			opacity: 1;
		}
		&[role="dialog"]{
			display: block;
		}
	}
	.layer_body.vodpop {
		.layer_wrap {
			overflow-y: inherit;
		}
		.layer_close {
			width:25px;
			height:25px;
			background-size:13px;
			padding-top:0;
			margin-top:-33px;
			border:1px solid #999;
			border-radius: 50%;
			background-image: url(../images/usp_0401_closewh.png);
		}
		.layer_cont {
			padding-bottom:0;
		}
		.video {
			position:relative;
			width:100%;
			margin:0 auto;
			padding-top:57%;
			background-color: #000;
			video {
				position:absolute;
				left:50%;
				top:50%;
				width:100%;
				-webkit-transform: translate(-50%, -50%); 
				transform: translate(-50%, -50%); 
				-o-object-fit: cover;
				object-fit: cover;
			}
		}

	}
	.noscroll {
		overflow: hidden !important;
		height: 100%;
		#contentWrap {
			overflow:hidden;
		}
	}
	.layer_body.layerpop {
		.layer_wrap {
			width:calc(100% - 60px);
			height:80vh;
			padding-bottom:100px;
			border-radius: 15px;
			overflow: hidden;
			bottom: calc(constant(safe-area-inset-bottom) + 60px);
			bottom: calc(env(safe-area-inset-bottom) + 60px);
			padding-left: env(safe-area-inset-left);
			padding-right: env(safe-area-inset-right);
		}
		.layer_close {
			top:20px;
			right:15px;
			z-index: 1;
		}
		.layer_head {
			position: relative;
			padding:48px 23px 10px;
			.title {
				font-size:20px;
				font-weight: 900;
				letter-spacing: -1px;
			}
		}
		.layer_cont {
			position:relative;
			height:100%;
			padding:0;
			padding-bottom:20px;
			overflow-y: scroll;
		}
		.btn_close {
			display: block;
			position: fixed;
			bottom:0;
			width:100%;
			height:120px;
			background-color:rgba(255,255,255, 0);
		}
	}
}

#footerWrap {
	position: relative;
	z-index: 1;
	.b2c_0417.footer-utils {
		margin-top:0;
		padding-top:40px;
	}
}
// .pop-layer {
//   display: none;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 100%;
// 	height: 100%;
//   background-color: #fff;
// 	z-index: 10;
// 	.pop-conts {
// 		height:100vh;
// 		padding:25px;
// 		overflow-y: scroll;
// 	}
// }


