@charset "utf-8";
@import "_swiper.min";
@import "_animate";

@font-face {
	font-family:'NotoSansKr'; font-style:normal; font-weight:300;
	src: url('../font/NotoSans-Light.eot') format('eot');
	src: local('※'), url('../font/NotoSans-Light.eot?#iefix') format('embedded-opentype');
	src: url('../font/NotoSans-Light.woff2') format('woff2'),
			 url('../font/NotoSans-Light.woff') format('woff');
}
@font-face {
	font-family:'NotoSansKr'; font-style:normal; font-weight:400;
	src: url('../font/NotoSans-Regular.eot') format('eot');
	src: local('※'), url('../font/NotoSans-Regular.eot?#iefix') format('embedded-opentype');
	src: url('../font/NotoSans-Regular.woff2') format('woff2'),
			 url('../font/NotoSans-Regular.woff') format('woff');
}
@font-face {
	font-family:'NotoSansKr'; font-style:normal; font-weight:700;
	src: url('../font/NotoSans-Bol.deot') format('eot');
	src: local('※'), url('../font/NotoSans-Bold.eot?#iefix') format('embedded-opentype');
	src: url('../font/NotoSans-Bold.woff2') format('woff2'),
			 url('../font/NotoSans-Bold.woff') format('woff');
}
@font-face {
	font-family:'NotoSansKr'; font-style:normal; font-weight:900;
	src: url('../font/NotoSans-Black.deot') format('eot');
	src: local('※'), url('../font/NotoSans-Black.eot?#iefix') format('embedded-opentype');
	src: url('../font/NotoSans-Black.woff2') format('woff2'),
			 url('../font/NotoSans-Black.woff') format('woff');
}

@media all and (max-width:960px) {
	html {
		font-size: 16px;
	}
}
@media all and (max-width:359px) {
	html {
		font-size: 14px;
	}
}
body {font-size:16px;}
body, html {
	margin:0;padding:0;
	font-family: 'NotoSansKr', 'Helvetica', 'Malgun Gothic', sans-serif;
}
a {
	text-decoration: none;
	border:0;
	outline: none;
	color:#222;
	&:hover, &:focus {
		color:#222;
	}
}
ul, ol {
	list-style-image: none;
	list-style: none;
	padding: 0;
	margin: 0;
}
li {list-style: none;}
dl, dt, dd, p, span, strong {padding:0;margin:0;}
video {
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}
.pral_wrap * {
	box-sizing: border-box;
	word-break: keep-all;
	font-family: 'NotoSansKr', 'Helvetica', 'Malgun Gothic', sans-serif;
	font-weight: 400;
	letter-spacing: 0;
}
.pral_wrap {
	overflow: hidden;
	img {
		max-width:100%;
	}
	.row {
		padding-left:25px;
		padding-right:25px;
	}
	.swp_paging {
		position: relative;
		width:100%;
		height:50px;
		text-align: center;
		.swiper-pagination {
			width:100%;
		}
		.swiper-pagination-bullet {
			position:relative;
			width:10px;
			height:10px;
			margin:0 6px;
			background-color:#dddddd;
			opacity: 1;
		}
		.swiper-pagination-bullet-active {
			background-color:#ff1760;
		}
	}
}
.a11y {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.titlechart {
	position: fixed;	
	top:0;
	left: 0;
	// top: 100px;
	width: 100%;
	height: 70px;
	background-color: rgba(0,0,0,0.8);
	z-index: 99;
	overflow: hidden;
	.tab {
		display: inline-block;
		width: 100%;
		height: 100%;
		.top {
			display: inline-block;
			width: 100%;
			height: 40px;
			padding: 11px 20px 4px;
			border-bottom: 1px solid #666;
			.logo {
				display: inline-block;
				height: 20px;
				color: #fff;
				vertical-align: top;
				b {
					display: inline;
					font-weight: 700;
				}
			}
			.model {
				display: inline-block;
				margin-top:3px;
				margin-left: 10px;
				font-size: 12px;
				color: #fff;
			}
		}
		> ul {
			position: relative;
			display: inline-block;
			width: 100%;
			z-index: 1;
			margin:0;
			> li {
				float:left;
				width:calc(100% / 5);
			}
			span {
				display: block;
				padding: 7px 5px 6px;
				font-size: 11px;
				color: #fff;
				border-bottom: 2px solid transparent;
				text-align: center;
				-webkit-transition: 0.5s ease-in-out;
				-moz-transition: 0.5s ease-in-out;
				-o-transition: 0.5s ease-in-out;
				transition: 0.5s ease-in-out;
			}
			.active {
				span {
					border-bottom-color:#990033;
				}
			}
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0px;
			display: block;
			width: 100%;
			height: 1px;
			background: #666;
		}
	}
}

.sec_title {
	padding-top:68px;
	padding-bottom:35px;
	h2 {
		font-size: 2rem;
		font-weight: 700;
	}
}

.section {
	width:100%;
	.title {
		margin-bottom:10px;
		color:#222;
		> p {
			font-size: 2rem;
			font-weight: 700;
			letter-spacing: -.7px;
			line-height: 1.25;
			color:inherit;
		}
	}
	.summary {
		margin-bottom:28px;
		font-size:1rem;
		line-height: 1.5;
		color:#888888;
		dt {
			font-size:1.688rem;
			font-weight: 700;
		}
	}
	.desc {
		padding:1.875rem;
		font-size:0.75rem;
		font-weight: 300;
		color:#888888;
		background-color: #fff;
		p {
			position:relative;
			display: block;
			padding-left:8px;
			line-height: 1.5;
			letter-spacing: -.3px;
			&:before {
				content: '*';
				position:absolute;
				left:0;
				top:3px;
				font-size:0.75rem;
				font-weight: 300;
				color:#888888;
			}
		}
	}
}

.sec_hero {
	.swiper-slide {
		padding-right:25px;
		padding-left:25px;
		a {
			display: inline-block;
			width:100%;
			height:100%;
		}
		.info {
			position:absolute;
			bottom:0;
			left:25px;
			width:calc(100% - 50px);
		}
		.desc {
			font-size:0.9375rem;
		}
		.btn_share {
			position: absolute;
			right:0;
			top:0;
			display: inline-block;
			width:23px;
			height:18px; 
			background: {
				image: url(../images/ico_share.png);
				position:center center;
				repeat: no-repeat;
				size:cover;
			}
		}
	}
	.figure {
		position:relative;
		max-width:calc(100% - 60px);
		margin:0 auto;
		padding-top:109.68%;
		img {
			position:absolute;
			left:50%;
			top:50%;
			width:100%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
	.swp_paging {
		margin:40px 0 20px;
	}
}

.sec_intro {
	width: 100%;
	padding-bottom:35%;
	background: {
		image: url(../images/intro_bg.jpg);
		position: right bottom;
		repeat: no-repeat;
		size:cover;
	}
	padding-top:70px;
	.title {
		margin-bottom:30px;
	}
	.row {
		padding-top:50px;
	}
	.summary {
		color:#222;
	}
	.ic {
		display: inline-block;
		width:13px;
		height:13px;
		background: {
			image: url(../images/ico_arrow.png);
			position: right bottom;
			repeat: no-repeat;
			size:13px;
		}
	}
}

.sec_zoom {
	position:relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	-webkit-transition: 0.6s ease-in-out;
	-moz-transition: 0.6s ease-in-out;
	-o-transition: 0.6s ease-in-out;
	transition: 0.6s ease-in-out;
	&.fixed {
		position:fixed;
		top:0;
		left:0;
		right:0;
		width:100%;
		height:120vh;
	}
	.row {
		position: relative;
		left:0;
		top:0;
		padding-top:70px;
		-webkit-transition: 0.6s ease-in-out;
		-moz-transition: 0.6s ease-in-out;
		-o-transition: 0.6s ease-in-out;
		transition: 0.6s ease-in-out;
		&.fixed {
			position:fixed;
			padding-top:100px;
		}
	}
	.figure {
		position: absolute;
		top:0;
		left:0;
		right:0;
		width:100%;
		height:100vh;
		background: {
			image: url('../images/zoom_bg.jpg');
			size:cover;
			position:center bottom;
			repeat: no-repeat;
		}
		-webkit-transition: .7s ease;
		-moz-transition: .7s ease;
		-o-transition: .7s ease;
		-ms-transition: .7s ease;
		transition: .7s ease;
		img {
			visibility: hidden;
			position: absolute;
			left:0;
			width:100%;
			-o-object-fit: cover;
			object-fit: cover;
			// -webkit-transform: scale3d(1, 1, 1);
			// -ms-transform: scale3d(1, 1, 1);
			// transform: scale3d(1, 1, 1);
			-webkit-transition: .7s ease;
			-moz-transition: .7s ease;
			-o-transition: .7s ease;
			-ms-transition: .7s ease;
			transition: .7s ease;
		}
		&.fixed {
			position:fixed;
			background: {
				image: url('../images/zoom_bg-big.jpg');
				size:cover;
				position:center bottom;
				repeat: no-repeat;
			}
		}
	}
	.summary {
		color:#222;
	}
}
.sec_zoom2 {
	position:relative;
	height:33vh;
	.cover {
		position:relative;
		// opacity: 0;
		// left:0;
		// top:0;
		width:100%;
		height:100%;
		background-color:rgba(255,255,255, .95);
		z-index: 1;
		-webkit-transition: 0.6s linear;
		-moz-transition: 0.6s linear;
		-o-transition: 0.6s linear;
		transition: 0.6s linear;
		.info {
			position: absolute;
			left:50%;
			top:40%;
			width:100%;
			text-align: center;
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			strong {
				font-size:28px;
				font-weight: 700;
			}
			p {
				margin-top:10px;
				font-size:1rem;
			}
		}
		&.show {
			position:fixed;
			opacity: 1;
		}
		&.back {
			opacity: 1;
			background-color:rgba(255,255,255, 1);
		}
	}
}

.sec_skill {
	position:relative;
	// padding-top:70px;
	background-color: #fff;
	z-index: 1;
	.title {
		position:relative;
		min-height: 120px;
		margin-bottom: 30px;
		p {
			position:absolute;
			bottom:0;
			left:0;
		}
	}
	.swiper-slide {
		padding-right:25px;
		padding-left:25px;
		a {
			display: inline-block;
			width:100%;
			height:100%;
		}
		.info {
			max-width:calc(100% - 10px);
			margin:60px auto;
			text-align: center;
		}
		.ti {
			font-size:1.25rem;
		}
		.sti {
			margin-top:10px;
			font-size:1rem;
			line-height: 1.5;
		}
		.desc {
			margin-top:15px;
			padding:0;
			span {
				display: block;
				line-height: 1.5;
			}
		}
	}
	.video {
		position:relative;
		width:100%;
		margin:0 auto;
		padding-top:85%;
		background-color: transparent;
		video {
			position:absolute;
			left:50%;
			top:50%;
			width:100%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
	.swp_paging {
		position:absolute;
		top:calc(100vw + 85px);
		margin:20px auto;
	}
}

.sec_effect {
	position: relative;
	min-height:60vh;
	padding-top:20px;
	padding-bottom:30px;
	background-color: #fff;
	z-index: 1;
	.point_bx {
		position: relative;
		width:100%;
		text-align: center;
	}
	.point {
		opacity: 0;
		position: absolute;
		width:100%;	
		font-size: 12.5rem;
		font-weight: 900;
		text-align: center;
		span {
			display: inline-block;
			vertical-align: middle;
			margin-bottom:-50px;
			font-weight: 900;
		}
		&.p01 {
			span {
				font-size:7.5rem;
			}
		}
		&.p02 {
			span {
				font-size:5rem;
			}
		}
	}
	._none {
		display: block;
		// height:0;
		// border:0;
		font-size:1px;
		color:transparent;
	}
}
.sec_effect2 {
	position:relative;	
	background-color: #fff;
	.effect_bx {
		position:relative;
		width:100%;
		height:100%;
		.bx {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			opacity: 0;
			&.effect01 {
				opacity: 1;
			}
		}
		.top {
			position:relative;
			text-align: center;
		}
		.figure {
			position: relative;
			width:100%;
			padding-bottom:75vh;
			overflow: hidden;
			img {
				position:absolute;
				top:50%;
				left:50%;
				width:100%;
				-webkit-transform: translate(-50%, -50%); 
				transform: translate(-50%, -50%); 
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
		@media all and (min-width:960px) {
			.figure {
				padding-bottom:90vh;
			}
		}
		.info {
			position:absolute;
			bottom:0;
			left:50%;
			-webkit-transform: translate(-50%, -25%); 
			transform: translate(-50%, -25%); 
			width:100%;
			text-align: center;
			> p {
				font-size:1rem;
				color:#fff;
			}
			.count {
				color:#fff;
				font-size:3.75rem;
				font-weight: 700;
				> span {
					font-size:inherit;
					font-weight: inherit;
					color:inherit;
				}
			}
		}
		.btn_view {
			display: inline-block;
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			height:100px;
			background-color:rgba(255,255,255, 0);
			// padding:8px 17px 5px;
			// border-radius: 25px;
			// background-color:#fff;
			// color:#000;
			// font-size:0.875rem;
		}

	}
	.video {
		position:relative;
		width:100%;
		margin:0 auto;
		padding-top:140%;
		overflow: hidden;
		background-color: transparent;
		video {
			position:absolute;
			left:50%;
			top:50%;
			width:100%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
}

.sec_smartcare {
	position: relative;
	padding-top:10px;
	margin-top:-2px;
	z-index: 1;
	background-color: #fff;
	// margin-top:70px;
	.top {
		padding-top:40px;
		background-color: #f5f5f5;
	}
	.summary {
		margin-bottom:0;
	}
	.video {
		position:relative;
		width:100%;
		margin:0 auto;
		padding-top:calc(100vw + 15px);
		overflow: hidden;
		background-color: transparent;
		video {
			position:absolute;
			left:50%;
			top:50%;
			width:100%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
	.desc {
		padding-left:0;
		padding-right:0;
	}
}

.sec_homecare {
	position:relative;
	// padding-top:60px;
	padding-top:10px;
	z-index: 1;
	background-color: #fff;
	.title {
		position:relative;
		min-height: 120px;
		margin-bottom: 2.188rem;
		p {
			position:absolute;
			bottom:0;
			left:0;
		}
	}
	.swiper-slide {
		padding-right:25px;
		padding-left:25px;
		a {
			display: inline-block;
			width:100%;
			height:100%;
		}
		.info {
			max-width:calc(100% - 10px);
			margin:50px auto;
			text-align: center;
		}
		.ti {
			font-size:1.25rem;
		}
		.sti {
			margin-top:10px;
			font-size:1rem;
			line-height: 1.5;
		}
		.desc {
			margin-top:15px;
			padding:0;
			span {
				display: block;
				line-height: 1.5;
			}
		}
	}
	.video {
		position:relative;
		width:100%;
		margin:0 auto;
		padding-top:calc(100vw - 90px);
		overflow: hidden;
		background-color: transparent;
		video {
			position:absolute;
			left:50%;
			top:50%;
			width:100%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
	.swp_paging {
		position:absolute;
		top:calc(100vw + 85px);
		margin:20px auto;
	}
}

.sec_howto {
	position:relative;
	padding-top:10px;
	// padding-top:60px;
	z-index: 1;
	background-color: #fff;
	.row {
		width:100%;
	}
	.title {
		position:relative;
		min-height: 120px;
		margin-bottom: 2.188rem;
		p {
			position:absolute;
			bottom:0;
			left:0;
		}
	}
	.dim {
		position: absolute;
		left:0;
		top:0;
		right:0;
		width:100%;
		height:100%;
		background-color: rgba(255,255,255, 0);
		z-index: 11;
		&.hide {
			z-index: -1;
		}
	}
	.swiper-slide {
		a {
			display: inline-block;
			width:100%;
			height:100%;
		}
		.info {
			max-width:calc(100% - 45px);
			margin:50px auto;
			text-align: center;
		}
		.sti {
			margin-top:10px;
			font-size:0.9375rem;
			line-height: 1.5;
		}
		.desc {
			margin-top:15px;
			padding:0;
			span {
				display: block;
				line-height: 1.5;
			}
		}
	}
	.video {
		position:relative;
		width:calc(100% - 50px);
		margin:0 auto;
		padding-top:calc(100vw - 150px);
		background-color: transparent;
		video {
			position:absolute;
			left:50%;
			top:50%;
			width:100%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
	.swp_paging {
		position:absolute;
		margin:20px auto;
	}

	.swipe_area {
		position:relative;
		.howtoswipe {
			&._auto {
				left:0;
				top:0;
				z-index: 10;
				&.hide {
					display: none;
					visibility: hidden;
					height: 0;
					z-index: -1;
				}
			}
			&._swipe {
				position:relative;
				visibility: hidden;
				height: 0;
				&.active {
					visibility: visible;
					height:auto;
				}
			}
		}
	}
}

.sec_functions {
	position: relative;
	padding-top:20px;
	z-index: 1;
	background-color: #fff;
	.title {
		margin-bottom:25px;
	}
	.bg {
		position:relative;
		padding-top:129%;
		background: {
			image: url(../images/function_bg.jpg);
			size:cover;
			position:center bottom;
			repeat: no-repeat;
		}
		overflow: hidden;
		.cont {
			position:absolute;
			top:25px;
			left:25px;
			dl {
				margin-bottom:7px;
				&:after {
					content: '';
					clear:both;
					display: block;
				}
			}
			dt, dd {
				float:left;
				min-height:60px;
			}
			dt {
				width:72px;
			}
			dd {
				position:relative;
				min-width: 200px;
				p {
					position: absolute;
					left:0;
					top:50%;
					-webkit-transform: translate(0, -50%); 
					transform: translate(0, -50%); 
					font-size:0.9375rem;
					strong {
						display: block;
						margin-top:3px;
						font-weight: 700;
					}
				}
			}
			i {
				display: inline-block;
				width:61px;
				height:61px;
				background: {
					size:cover;
					repeat: no-repeat;
					position:center center;
				}
			}
		}
		.ico01 {
			i {
				background: {
					image: url(../images/ico_fnc01.png);
				}
			}
		}
		.ico02 {
			i {
				background: {
					image: url(../images/ico_fnc02.png);
				}
			}
		}
		.ico03 {
			i {
				background: {
					image: url(../images/ico_fnc03.png);
				}
			}
		}
		.ico04 {
			i {
				background: {
					image: url(../images/ico_fnc04.png);
				}
			}
		}
	}
}

.sec_stabillity {
	position: relative;
	z-index: 1;
	padding-top:40px;
	background-color: #fff;
	.cut {
		position:relative;
		padding-top:2.813rem;
	}
	.mark {
		opacity: 0;
		display: inline-block;
		position:absolute;
		top:0;
		width:91px;
		height:92px;
		background: {
			image: url(../images/stabi_cut01.png);
			size:cover;
			repeat: no-repeat;
			position:center center;
		}
		z-index: 1;
		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		&.markOn {
			visibility: visible;
			opacity: 1;
		}
	}
	.future {
		img {
			margin-left:10px;
		}
	}
	.desc {
		padding-left:0;
		padding-right:0;
		.ckbx {
			margin-bottom:12px;
		}
		.chk {
			position: relative;
			margin-bottom:3px;
			padding-left:22px;
			font-weight: 700;
			font-size:0.9375rem;
			color:#222;
			i {
				display: inline-block;
				position:absolute;
				left:0;
				top:2px;
				width:15px;
				height:15px;
				background: {
					image: url(../images/ico_chk.png);
					size:cover;
					repeat: no-repeat;
					position:center center;
				}
			}
		}
	}
}

.sec_component {
	position: relative;
	z-index: 1;
	padding-top:40px;
	background-color: #fff;
	.title {
		margin-bottom:25px;
	}
	.figure {
		position:relative;
		width:100%;
		margin:0 auto;
		padding-top:61.2%;
		overflow: hidden;
		img {
			position:absolute;
			left:50%;
			top:50%;
			width:100%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
	.btn_buy {
		display: inline-block;
		margin-top:20px;
		padding:7px 18px 5px;
		font-size:0.875rem;
		border:1px solid #222;
		border-radius: 25px;
		i {
			display: inline-block;
			margin-left:5px;
			width:5px;
			height:7px;
			background: {
				image: url(../images/ico_blet.png);
				size:cover;
				repeat: no-repeat;
				position:center center;
			}
		}
	}
}

.sec_tip {
	position: relative;
	z-index: 1;
	padding-top:40px;
	background-color: #fff;
	.btnmovie {
		position: relative;
		width:100%;
		padding-bottom:53.5%;
		overflow: hidden;
		.btn_tip {
			display: block;
			position:absolute;
			left:50%;
			top:50%;
			width:100%;
			height:100%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
			-o-object-fit: cover;
			object-fit: cover;
			background: {
				image: url(../images/btn_tip.jpg);
				size:cover;
				repeat: no-repeat;
				position:center center;
			}
		}
	}
	.video {
		margin-bottom:70px;
	}
	.summary {
		color:#222222;
	}
	.btn_chk {
		display: inline-block;
		padding:7px 18px 5px;
		background-color:#a40033;
		color:#fff;
		font-size:14px;
		border-radius: 25px;
	}
	.photobx {
		margin-top:35px;
		padding:45px 20px;
		border-radius: 20px;
		background-color: #e2e5ea;
		text-align: center;
		> p {
			font-size:22px;
			font-weight: 700;
		}
		> span {
			display: block;
			margin-top:15px;
			font-size:13px;
			line-height: 1.4;
		}
		.vw {
			display: block;
			margin-top:15px;
			font-size:13px;
			line-height: 1.4;
			color:#a40033;
			i {
				display: inline-block;
				vertical-align: middle;
				margin-top:-4px;
				margin-left:5px;
				width:13px;
				height:13px;
				background: {
					image: url(../images/ico_blet2.png);
					size:cover;
					repeat: no-repeat;
					position:center center;
				}
			}
			&._on {
				i {
					transform: rotate(180deg)
				}
			}
		}

		.list {
			margin-top:27px;
			&:after {
				content: '';
				display: block;
				clear:both;
			}
		}
		li {
			float:left;
			width:calc((100% / 2) - 13px);
			margin-right:25px;
			&:nth-child(2n) {
				margin-right:0;
			}
			&:nth-child(2n + 1) {
				clear:left;
			}
			text-align: center;
		}
		.figure {
			position:relative;
			width:100%;
			margin:0 auto;
			padding-top:100.0%;
			overflow: hidden;
			img {
				position:absolute;
				left:50%;
				top:50%;
				width:100%;
				-webkit-transform: translate(-50%, -50%); 
				transform: translate(-50%, -50%); 
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
		&:after {
			content: '';
			display: block;
			clear:both;
		}
		.more {
			padding-top:40px;
			&._off {
				display: none;
			}
			&._on {
				display: block;
			}
		}
	}
	.summary {
		margin-top:20px;
		dt {
			font-size:12px;
		}
		dd {
			font-size:12px;
			color:#888888;
		}
	}
}

.sec_review {
	position: relative;
	z-index: 1;
	padding-top:70px;
	background-color: #fff;
}

#footerWrap {
	position: relative;
	z-index: 1;
	.b2c_0417.footer-utils {
		margin-top:0;
		padding-top:40px;
	}
}
.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
	height: 100%;
  background-color: #fff;
	z-index: 10;
	.pop-conts {
		height:100vh;
		padding:25px;
		overflow-y: scroll;
	}
}


/* layer popup */
.layer_body {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
  display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .9);
	&.layer_full {
		top:inherit;
		bottom:0;
		background-color: transparent;
		.layer_wrap {
			width:100%;
			height:100%;
		}
		.layer_cont {
			height:calc(100% - 70px);
		}
		.layer_close {
			top:27px;
			right:32px;
		}
	}
	&.layer_wide {
		.layer_wrap {
			max-width:100%;
			width:100%;
			border-radius: 0;
		}
	}
}
.layer_wrap {
	position: absolute;
	z-index: 100;
	top:50%;
	left:50%;
	width:calc(100% - 50px);
	background-color: #fff;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%); 
	overflow-y: auto;
	-webkit-transition: visibility 0.2s 0.1s, opacity 0.2;
	-moz-transition: visibility 0.2s 0.1s, opacity 0.2;
	-ms-transition: visibility 0.2s 0.1s, opacity 0.2;
	-o-transition: visibility 0.2s 0.1s, opacity 0.2;
	transition: visibility 0.2s 0.1s, opacity 0.2;
	.btn_wrap {
		margin-bottom:0;
	}
}
.layer_close {
  position:absolute;
  top: 0;
  right: 0;
  width:20px;
  height:20px;
  background: {
		color:transparent;
    image: url(../images/btn_gclose.png);
    size:16px;
    repeat: no-repeat;
    position: center center;
	}
  border: 0;
  text-indent:-9999px;
}
.layer_cont{
	position:relative;
	width: 100%;
	padding-bottom:58%;
	overflow: hidden;
	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}
	iframe {
		position:absolute;
		left:50%;
		top:50%;
		width:100%;
		height:100%;
		-webkit-transform: translate(-50%, -50%); 
		transform: translate(-50%, -50%); 
		-o-object-fit: cover;
		object-fit: cover;
	}
}
.layer_body.is-visible {
	visibility: visible;
	.layer_wrap {
		opacity: 1;
	}
	&[role="dialog"]{
		display: block;
	}
}
.layer_body.vodpop {
	.layer_wrap {
		overflow-y: inherit;
	}
	.layer_close {
		width:25px;
		height:25px;
		background-size:13px;
		padding-top:0;
		margin-top:-33px;
		border:1px solid #999;
		border-radius: 50%;
	}
	.layer_cont {
		padding-bottom:0;
	}
	.video {
		position:relative;
		width:100%;
		margin:0 auto;
		padding-top:57%;
		background-color: #000;
		video {
			position:absolute;
			left:50%;
			top:50%;
			width:100%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

}
.noscroll {
	overflow: hidden !important;
	height: 100%;
	#contentWrap {
    overflow:hidden;
	}
}
.layer_body.layerpop {
	.layer_wrap {
		width:100%;
	}
	.layer_close {
		top:50px;
		right:20px;
		z-index: 1;
	}
	.layer_cont {
		position:relative;
		height:95vh;
		padding:0;
		padding-top:85px;
		padding-bottom:20px;
		overflow-y: scroll;
	}
	.btn_close {
		display: block;
		position: fixed;
		bottom:0;
		width:100%;
		height:120px;
		background-color:rgba(255,255,255, 0);
	}
}